body{
    color: rgb(248, 176, 176);
    background-color: cadetblue;
}
.heading{
    width: 80%;
    font-size: 22px;
}
.name_of_objects,#result_object_name,#result_object_accuracy{
    color: rgb(156, 3, 252);
    font-size: medium;
}
#camera{
    border: 2px dashed seagreen;
    width: 350px;
    height: 300px;
}
